name: build

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Build (Release)
        shell: pwsh
        run: |
          msbuild "MDMUI/MDMUI.sln" /t:Build /p:Configuration=Release /p:Platform="Any CPU"

      - name: Build (dotnet)
        shell: pwsh
        run: |
          .\scripts\build.ps1 -Configuration Release

